includes:
  - phar://phpstan.phar/conf/bleedingEdge.neon
  - vendor/phpstan/phpstan-strict-rules/rules.neon
  - phpstan/rule.neon
  - phpstan/type.neon

parameters:
  level: max
  paths:
    - src/
    - phpstan/
  excludePaths:
   analyse:
      - phpstan/**
  tmpDir: storage/cache/phpstan/
  ignoreErrors:
    - identifier: ternary.shortNotAllowed

  checkImplicitMixed: true
  checkMissingTypehints: true
  checkTooWideReturnTypesInProtectedAndPublicMethods: true
  checkUninitializedProperties: true
  reportAlwaysTrueInLastCondition: true
  reportAnyTypeWideningInVarTag: true
  reportMaybesInMethodSignatures: true
  reportMaybesInPropertyPhpDocTypes: true
  reportPossiblyNonexistentGeneralArrayOffset: true
  reportPossiblyNonexistentConstantArrayOffset: true
  reportStaticMethodSignatures: true
  reportUnmatchedIgnoredErrors: false
  treatPhpDocTypesAsCertain: false