includes:
  - phar://phpstan.phar/conf/bleedingEdge.neon
  - vendor/phpstan/phpstan-strict-rules/rules.neon
services:
    - class: FireHub\PHPStan\Extensions\MathMaxReturnTypeExtension
      tags:
        - phpstan.broker.dynamicStaticMethodReturnTypeExtension

parameters:
  level: max
  paths:
    - src/
    - phpstan/
  tmpDir: storage/cache/phpstan/
  ignoreErrors:
    - identifier: ternary.shortNotAllowed

  checkImplicitMixed: true
  checkMissingTypehints: true
  checkTooWideReturnTypesInProtectedAndPublicMethods: true
  checkUninitializedProperties: true
  reportAlwaysTrueInLastCondition: true
  reportAnyTypeWideningInVarTag: true
  reportMaybesInMethodSignatures: true
  reportMaybesInPropertyPhpDocTypes: true
  reportPossiblyNonexistentGeneralArrayOffset: true
  reportPossiblyNonexistentConstantArrayOffset: true
  reportStaticMethodSignatures: true
  reportUnmatchedIgnoredErrors: false
  treatPhpDocTypesAsCertain: false